body {
  font-family: Arial, sans-serif;
  }
  
  h1 {
  text-align: center;
  }
  
  form {
  margin: 0 auto;
  width: 50%;
  }
  
  label {
  display: inline-block;
  width: 100px;
  }
  
  input[type="text"], input[type="password"] {
  width: 200px;
  }
  
  input[type="submit"] {
  margin-left: 100px;
  }
  
  p {
  text-align: center;
  font-weight: bold;
  }